Sign up!

<form ng-submit="submit()">
  Enter username:<br>
  <input type="text" ng-model="username" name="username"><br>
 <!-- Enter email:
  <input type="text" name="email">-->
  Enter password:<br>
<input type="text" ng-model="password" name="password"><br>
Confirm password:<br>
<input type="text" ng-model="password2" name="password2"><br>
<input type="submit" id="submit" value="Sign up" />
</form>
<a href="#/login">If you already have an account, click here</a>


<!-- 

TODO - lägg till så att du bekräfta lösenord och den kollar att de överensstämmer
-->